# Extension development environment
channels:
  - conda-forge

dependencies:
  # runtime dependencies
  - python
  - jupyterlab >=4.0.0,<5
  # labextension build dependencies
  - nodejs >=18,<19
  - pip
